
.acountCreateBottom button{
margin-left: 8%;
}
.registerCreate{
  
    display: flex;
    justify-content: center;
    align-items: center;

}
.registerTop{
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.registerDiv{
  
    display: flex;
    justify-content: center;
    align-items: center;
}